.category-blz .product-category > a {
    display: block;
    text-align: center;
    padding-block: 5em;
}

.category-blz.elementor-widget-wc-categories .woocommerce .woocommerce-loop-category__title {
    color: inherit;
}

.elementor-shortcode > .elementor {
    display: flex;
    flex-direction: row;
}