.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.elementor-widget-woocommerce-products .elementor-products-grid ul.products.elementor-grid li.product {
    border: 4px solid currentcolor;
    border-bottom: none;
}

.cart-simple-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-quantity .quantity {
    border: 4px solid currentcolor;
    border-top: none;
}

.woocommerce-cart-form__cart-item .product-quantity .quantity {
    border-inline: 4px solid currentcolor;
}

.quantity {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.quantity .quantity-button {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 25%;
    border: 4px solid currentcolor;
    border-left: 0;
    border-bottom: 0;
}

.quantity .qty {
    flex: 1 25%;
    border-top: 4px solid currentcolor;
    border-inline: 0;
    border-radius: 0;
    background-color: #F0F0F0;
}

.woocommerce-cart-form__cart-item .quantity .qty {
    border-bottom: 0;
}

.woocommerce div.product .custom-add-to-cart .quantity .qty {
    background-color: transparent;
    color: currentColor;
}

.woocommerce div.product .custom-add-to-cart form.cart div.quantity {
    margin: 0;
    border: solid 4px currentcolor;
    border-top: 0;
    border-right: 0;
}

input[type="number"]:focus {
    border-color: currentcolor;
}

.custom-add-to-cart .cart-simple-product .button.button.alt,
.woocommerce ul.products li.product .button {
    margin-top: 0;
    background-color: black;
    flex: 0 1 25%;
    border-top: 4px solid black;
    border-inline: 0;
    border-radius: 0;
    border-bottom: 0;
}

.custom-add-to-cart .cart-simple-product .button.button.alt {
    background-color: transparent;
    border: solid 4px currentColor;
    color: currentColor;
}

.custom-add-to-cart .cart-simple-product a.added_to_cart,
.woocommerce ul.products li.product a.added_to_cart {
    flex: 1 1 100%;
    border-top: 4px solid currentcolor;
    color: var(--e-global-color-primary);
    padding-left: 15px;
}

.custom-add-to-cart .cart-simple-product a.added_to_cart,
    {
    text-align: center;
    border: 4px solid currentColor;
    border-top: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    padding-bottom: 0;
}

.elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .subtitle {
    font-size: var(--e-global-typography-b9e8691-font-size);
    font-weight: var(--e-global-typography-b9e8691-font-weight);
    text-transform: var(--e-global-typography-b9e8691-text-transform);
    line-height: var(--e-global-typography-b9e8691-line-height);
    letter-spacing: var(--e-global-typography-b9e8691-letter-spacing);
    word-spacing: var(--e-global-typography-b9e8691-word-spacing);
    font-style: var(--e-global-typography-b9e8691-font-style);
    color: var(--e-global-color-primary);
    height: 3em;
}

.woocommerce-product-attributes.shop_attributes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .5em;
    justify-content: var(--justify-content);
    flex-wrap: wrap;
}

.woocommerce-product-attributes.shop_attributes>.woocommerce-product-attributes-item {
    display: inline;
    padding: .25em .75em;
    border-radius: 2em;
    background-color: black;
    color: #fff;
}

.woocommerce-product-attributes.shop_attributes>.woocommerce-product-attributes-item>p {
    margin-bottom: 0;
}

.woocommerce div.product form.cart {
    margin-bottom: 0;
}

.elementor-playlist-container {
    display: flex;
    flex-direction: row;
}

.elementor-playlist-title {
    writing-mode: sideways-lr;
}

.elementor-playlist-item-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.elementor-playlist-sound {
    flex: 1 1 auto;
}

.elementor-products-grid .related.products ul.products.elementor-grid li.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elementor-products-grid .related.products ul.products.elementor-grid li.product a {
    flex: 1 1 100%;
}

.woocommerce div.product form.cart div.quantity {
    margin: 0;
}

.woocommerce ul.products li.product .price {
    color: var(--e-global-color-f16652e)
}

.woocommerce ul.products li.product a .woocommerce-loop-product__title,
.woocommerce ul.products li.product a .subtitle,
.woocommerce ul.products li.product a .price {
    padding: 0 .5em;
}

.woocommerce div.product.elementor form.cart.cart-simple-product {
    flex-wrap: wrap !important;
}

a.button.out_of_stock {
    color: red !important;
}