body 
{
    --swiper-pagination-color: var(--e-global-color-af67724);
    --swiper-navigation-color: var(--e-global-color-af67724);
    --button-align-display: flex;
    --button-align-direction: column;
    --button-align-justify: space-between;
    --button-spacing:0;
    --toggle-button-border-width:0;
    --color-price: var(--e-global-color-f16652e);
}